:root {
  --luxury-gold: #A68A5D;
  --dark-charcoal: #1A1A1A; 
  --light-text: #F0F0F0; 
}

.footer {
    color: var(--light-text);
    background-color: var(--dark-charcoal);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
    padding: 40px 8vw;
    padding-top: 100px; 
    border-top: 5px solid var(--luxury-gold); 
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3);
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr; 
    gap: 80px; 
    max-width: 1200px; 
}

.footer-content-left, .footer-content-center, .footer-content-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content-left h2, 
.footer-content-center h2, 
.footer-content-right h2 {
    color: var(--luxury-gold); 
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1px;
    border-bottom: 2px solid rgba(166, 138, 93, 0.3); 
    padding-bottom: 5px;
}

.footer-content-left ul li, 
.footer-content-center ul li, 
.footer-content-right ul li {
    color: var(--light-text); 
    margin-bottom: 12px;
    list-style: none;
    transition: color 0.3s, transform 0.3s;
    font-weight: 300; 
}
.footer-content-left p {
    color: rgba(255, 255, 255, 0.1); 
}
.footer li:hover {
    color: var(--luxury-gold);
    transform: translateX(3px); 
    cursor: pointer;
}

.footer-social-icons {
    display: flex;
    gap: 20px; 
}
.footer-social-icons img {
    width: 30px; 
    transition: transform 0.3s;
}
.footer-social-icons img:hover {
    transform: scale(1.1);
    filter: brightness(1.2) drop-shadow(0 0 5px var(--luxury-gold)); 
}

.footer hr {
    width: 100%;
    height: 1px; 
    background-color: rgba(255, 255, 255, 0.1); 
    border: none;
    margin: 30px 0px;
}
.footer-copyright {
    font-weight: 300;
    font-size: 0.9rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.1); 
}

@media (max-width:750px) {
    .footer {
        padding-top: 50px;
    }
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .footer-copyright {
        text-align: center;
    }
}
