.food-display {
    margin-top: 60px; 
    animation: fadeIn 1.5s ease-out; /*animation for smooth entry */
    padding: 0 1vw; 
}

.food-display h2 {
    font-family: 'Playfair Display', serif; 
    color: var(--dark-charcoal);
    font-size: max(3vw, 32px); 
    font-weight: 700;
    margin-bottom: 20px; 
    letter-spacing: 1px;
    display: inline-block; 
    padding-bottom: 5px;
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
    margin-top: 40px; 
    gap: 40px; 
    row-gap: 60px; 
}

@media (max-width: 750px) {
    .food-display {
        margin-top: 40px;
    }
    .food-display h2 {
        font-size: 8vw;
        text-align: center;
        width: 100%;
        border-bottom: none; 
    }
    .food-display-list {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        row-gap: 30px;
    }
}